<div>
    Hola Probando WS 
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>

<script>
     const sockets=io.connect('http://localhost:8080/',
    {forceNew:true});
</script>